.zig-cache/
zig-out/
release/
*.o
*.exe
*.exp
*.lib
*.dll
*.so
*.dylib
*.pdb
.DS_Store

/disk/*
!/disk/.gitkeep
*.map
*.tar
*.o
*.elf
*.bin
*.log
*.pcap
zig-build-docs.txt
zig-docs.txt
operating-system-in-1000-lines/
